@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(adas.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container {
    height: 100%;
    width: 420px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 10px;
    padding: 30px 40px;
}
.container h1{
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.container .input-box{
    width: 100%;
    height: 45px;
    background-color: rgba(222, 168, 135, 0.183);
    margin-top: 20px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.input-box input{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .4);
    padding: 20px 45px 20px 45px;
    color: white;
    font-size: 16px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.user-remember{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.user-remember label input{
    accent-color: #fff;
    margin-right: 5px;
}
.user-remember a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.container .btn{
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
}
.user-account{
    margin: 20px 0px;
    text-align: center;
}
.user-account a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}